%nav
	.navigation

		.logo
			%a{:href => "#"} Drmrsan

		%ul
			%li
				%a{:href => "#"} Home
			%li
				%a{:href => "#"} About me
			%li
				%a{:href => "#"} Blog
			%li
				%a{:href => "#"} Projects
			%li
				%a{:href => "#"} Contact me